@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* ### Primary */

    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    /* ### Neutral */

    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}


main {
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-Gray);
    display: flex;
    min-width: 320px;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 60%;
    grid-template-areas: "header header"
        "montly whyUs"
    ;
    width: 100%;
    margin: auto;
    max-width: 550px;

    height: auto;

}


.header,
.montly,
.whyUs {
    padding: 2rem;
}

.header {
    grid-area: header;
    background-color: white;


}

.header h1 {
    font-size: 1.1rem;
    color: var(--Cyan);
}

.header .day {
    font-size: .8rem;
    margin-top: 1rem;
    color: var(--Bright-Yellow);
}

.header p {
    font-size: .8rem;
    line-height: 1.3rem;
    margin-top: .5rem;
    color: var(--Grayish-Blue);
}

.montly {
    grid-area: montly;

    background-color: var(--Cyan);
    color: white;
}

.montly h1 {
    font-size: .9rem;

}

.price {

    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 1rem;
}

.price h1 {}

.price span {
    font-size: .9rem;
    color: var(--Light-Gray);
}

.montly p {
    font-size: .8rem;
    margin-top: .5rem;
}

.montly button {
    width: 100%;
    line-height: 2.2rem;
    font-size: .7rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--Bright-Yellow);
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 1.5rem;
}

.whyUs {
    grid-area: whyUs;

    background-color: rgb(74, 190, 189);
    color: white;
}


.whyUs h1 {
    font-size: .9rem;
    margin-bottom: 1rem;
}

.whyUs li {
    list-style: none;
    font-size: .8rem;
}

li {
    margin-top: .2rem;
}



@media screen and (max-width:500px) {


    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "montly"
            "whyUs";
        grid-template-rows: repeat(3, 1fr);
        margin: 2rem;
    }

    .header,
    .montly,
    .whyUs {
        padding: 1rem;

    }
}